
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

  .wrapper {

    grid-template-columns: repeat(10, 1fr);
    margin: auto;
    display: grid;
    width: fit-content;
  }

  .board{
    display: flex;
    margin: 20px;
    align-items: center;
    flex-direction: column;
  }

  .cell{
    border: 1px solid gray;
    padding: 10px;
  }

  .active{
    background-color: grey;
  }

  .button{
    margin: auto;
  }

  .buttons{
    margin: 20px;
    display: flex;
    align-content: space-between;
    justify-content: center;
    align-items: start;
    justify-items: center;
  }
  
  .resultMessage{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  button{
    margin: 10px;
  }